* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1B244A;
   text-align: center;
    height: 100vh;
    color: #EEEEEE;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clock {
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 3px solid whitesmoke;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 5px;
    background-color: #080001;
    color: #F94F6D;
    margin-top: 10px;
    display: inline-block;
}

.timer-section {
    text-align: center;
    margin-bottom:  30px;
    padding: 20px;
    border: 2px solid #F94F6D;
    border-radius: 10px;
    background-color: #2C3457;
    width: 80%;
    max-width: 700px;
}

.timer-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.timer-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px;
}

.timer-buttons button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F94F6D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timer-buttons button:hover {
    background-color: #D14253;
}

.team-score {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.team-score h3 {
    font-size: 40px;
    margin-bottom: 21px;
}

.team-score h4 {
    padding-top: 16px;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    background-color: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin: 0 auto 26px;
}

.buttons {
    display: flex;
    gap: 9px;
}

.buttons button {
    width: 55px;
    height: 55px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    background: transparent;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttons button:hover {
    background-color: #9AABD8;
    color: #1B244A;
}

.score-section {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 10px 0 20px;
    border: 2px solid #28A745;
    border-radius: 10px;
    background-color: #2C3457;
    width: 80%;
    max-width: 700px;
}

#new-game {
    margin: 25px 0;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-game:hover {
    background-color: #218838;
}

button:disabled{
        background-color: #ccc;
        color: #666;
        border: 1px solid #999;
        cursor: not-allowed;
        opacity: 0.6;
}
button:disabled:hover {
    background-color: #cccccc; /* Ensure it stays gray */
}